:root {
    --cor-primary: #667BC6;
    --cor-secondary: #FDFFD2;
    --cor-bg-1: #d1d7ed;
    --cor-bg-2: #ededed;
    --cor-text-primary: #0e0e0e;
    --cor-text-secondary: #fefefe;
    }
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Inter', Helvetica, sans-serif;
    background-color: var(--cor-bg-1);
    color: var(--cor-text-primary);
    max-width: 1400px;
    margin: auto;
}
  
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}