main {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    height: 100vh;
    padding: 2rem;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
}
    
header {
    width: 100%;
    display: flex;
    align-items: end;
    gap: 2rem;
}

header > p {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--cor-primary);
}

.text-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 2.3rem;
    margin-top: 5rem;
}

.text-input-content {
    width: 100%;
    max-width: 680px;
    height: 100%;
    max-height: 350px;
}
    
textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: var(--cor-primary);
    background-color: var(--cor-bg-2);
    border-radius: 1.25rem;
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
}

textarea::placeholder {
    color: var(--cor-primary); 
    font-size: 1.75rem;
}

textarea:focus {
    outline-color: var(--cor-primary);
}

.buttons-container {
    width: 100%;
    max-width: 680px;
    height: 80px;
}

.buttons-content {
    display: flex;
    gap: 1.5rem;
}

button {
    width: 100%;
    padding: 1.5rem;
    border-radius: 1.25rem;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:active {
    transform: scale(1.1)
}

.btn-primary {
    background-color: var(--cor-primary); 
    color: var(--cor-text-secondary);
}


.btn-secondary {
   background-color: var(--cor-secondary);
   color: var(--cor-primary);
   border: 2px solid var(--cor-primary);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--cor-bg-2);
    box-shadow: 10px 10px 15px -10px rgba(0,0,0,0.3);
}

.text-output-container {
    display: flex;
    align-items: end;
    height: 80%;
}

.image-aside {
    padding: 1rem;
}

.image-aside > h2 {
    text-align: center;
    margin-top: 1rem;
}

.image-aside > p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    opacity: 0.7;
}

.text-output-content {
    width: 100%;
    height: 100%;
    display: none;
}
